   .VirtualBox/
        .bash_history
        .cache/
        .config/
        .eclipse/
        .gitconfig
        .lesshst
        .m2/
        .nbi/
        .p2/
        .sts4/
        3D Objects/
        AppData/
        Contacts/
        Desktop/
        Documents/
        Downloads/
        Favorites/
        IntelGraphicsProfiles/
        Links/
        Music/					
        NTUSER.DAT
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        Oracle/
        Pictures/
        Saved Games/
        Searches/
        Videos/
        VirtualBox VMs/
        eclipse/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
